.wrap {
  padding: 20px 0;

  & li {
    margin-bottom: 10px;
  }
}
.title {
  margin-bottom: 10px;
  font-weight: bold;
}

.link {
  color: rgb(42, 95, 239);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: rgb(10, 37, 114) !important;
}
